@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,900;1,400;1,500;1,900&display=swap");
.mid-line {
  width: 100%;
  border: 2px groove #6c757d;
}

.hero__container {
  width: 100%;
  height: 90vh;
  display: -ms-grid;
  display: grid;
  padding-top: 1vh;
  padding-bottom: 5vh;
  -ms-grid-columns: (2fr)[4];
      grid-template-columns: repeat(4, 2fr);
      grid-template-areas: ". . header header" "image image image image" "desc desc desc desc";
}

@media (max-width: 980px) {
  .hero__container {
        grid-template-areas: ". header header header" "image image image image" "desc desc desc desc";
  }
}

@media (max-width: 620px) {
  .hero__container {
        grid-template-areas: ". header header ." "image image image image" "desc desc desc desc";
    height: auto;
  }
}

.hero__container .hero__header {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: header;
  margin: 1vh auto 0;
}

.hero__container .hero__header .hero__h1 {
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
  padding: 0.2rem 1rem;
  z-index: 20;
  border-radius: 15px;
  position: absolute;
  color: #343a40;
  background-color: #e9ecef;
  -webkit-box-shadow: 0 0 0.5rem grey;
          box-shadow: 0 0 0.5rem grey;
}

@media (min-width: 720px) {
  .hero__container .hero__header .hero__h1 {
    font-size: 2.5rem;
  }
}

.hero__container .hero__imagec {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: image;
  width: 90%;
  max-width: 1080px;
  height: auto;
  z-index: 10;
  margin: 5vh auto;
  border-radius: 15px;
  -webkit-box-shadow: 0 0 0.2rem grey;
          box-shadow: 0 0 0.2rem grey;
  overflow: hidden;
}

.hero__container .hero__imagec .carousel-inner {
  height: 100%;
  width: 100%;
  margin: 0 auto;
}

.hero__container .hero__imagec .carousel-inner .carousel-item {
  height: 100%;
}

.hero__container .hero__imagec .carousel-inner .carousel-item .hero__img {
  width: auto;
  height: 100%;
}

@media (min-width: 720px) {
  .hero__container .hero__imagec .carousel-inner {
    height: 100%;
    width: 70%;
    margin: 0 auto;
  }
}

.hero__container .hero__text {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: desc;
  margin: -7vh auto 0;
  width: 80%;
  max-width: 980px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  z-index: 15;
  padding: 1rem 3rem;
  border-radius: 15px;
  -webkit-box-shadow: 0.1em 0.2rem 0.3rem gray;
          box-shadow: 0.1em 0.2rem 0.3rem gray;
  background-color: #dee2e6;
}

.hero__container .hero__text .hero__p {
  font-size: 0.9rem;
  text-align: center;
  font-weight: 500;
}

@media (min-width: 720px) {
  .hero__container .hero__text .hero__p {
    font-size: 1rem;
  }
}

@media (min-width: 1080px) {
  .hero__container .hero__text .hero__p {
    font-size: 1.2rem;
  }
}

.hero__container .carousel-control-next,
.hero__container .carousel-control-prev {
  background-color: rgba(128, 128, 128, 0.5);
}

@media (min-width: 720px) {
  .hero__container .carousel-control-next,
  .hero__container .carousel-control-prev {
    width: 15%;
    z-index: 5;
    background-color: grey;
  }
}

.hproducts__container {
  width: 100%;
  height: auto;
  padding: 5vh 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 2fr 2fr 2fr;
      grid-template-columns: 2fr 2fr 2fr 2fr;
      grid-template-areas: "header header . ." "card card card card";
}

@media (max-width: 520px) {
  .hproducts__container {
        grid-template-areas: "header header header header" "card card card card";
  }
}

.hproducts__container .hproducts__header {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: header;
}

.hproducts__container .hproducts__header .hproducts__h3 {
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
  padding: 0.2rem 1rem;
  z-index: 20;
  border-radius: 15px;
  position: absolute;
  margin: 0 0 0 10%;
  background-color: #6c757d;
  color: #e9ecef;
  -webkit-box-shadow: 0 0 0.2rem black;
          box-shadow: 0 0 0.2rem black;
  text-shadow: 0 0 0.1rem grey;
}

@media (min-width: 720px) {
  .hproducts__container .hproducts__header .hproducts__h3 {
    font-size: 2.5rem;
  }
}

@media (max-width: 520px) {
  .hproducts__container .hproducts__header .hproducts__h3 {
    margin: 0 auto -4vh;
    position: initial;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
}

.hproducts__container .hproducts__slide {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: card;
  height: auto;
  width: 90%;
  margin: 6vh auto 0;
}

@media (max-width: 720px) {
  .hproducts__container .hproducts__slide {
    width: 95%;
  }
}

.hproducts__container .hproducts__slide .carousel-inner {
  padding: 0.5rem 0;
  height: auto;
  width: 95%;
  margin: 0 auto;
}

.hproducts__container .hproducts__slide .carousel-inner .hproducts__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: auto;
  width: 80%;
  max-width: 1080px;
  border-radius: 15px;
  overflow: hidden;
  -webkit-box-shadow: 0 0 0.5rem grey;
          box-shadow: 0 0 0.5rem grey;
  margin: 0 auto;
}

.hproducts__container .hproducts__slide .carousel-inner .hproducts__card .hproducts__imagec {
  height: 100%;
  width: 60%;
  padding: 0;
}

.hproducts__container .hproducts__slide .carousel-inner .hproducts__card .hproducts__imagec .hproducts__img {
  width: 100%;
  height: 100%;
}

.hproducts__container .hproducts__slide .carousel-inner .hproducts__card .hproducts__text {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1.5em 1.5rem;
}

.hproducts__container .hproducts__slide .carousel-inner .hproducts__card .hproducts__text .hproducts__name {
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
  font-weight: 900;
  border-bottom: 3px groove #6c757d;
  color: #343a40;
  padding-bottom: 1rem;
}

@media (min-width: 720px) {
  .hproducts__container .hproducts__slide .carousel-inner .hproducts__card .hproducts__text .hproducts__name {
    font-size: 1.5rem;
  }
}

@media (min-width: 1080px) {
  .hproducts__container .hproducts__slide .carousel-inner .hproducts__card .hproducts__text .hproducts__name {
    font-size: 1.8rem;
  }
}

.hproducts__container .hproducts__slide .carousel-inner .hproducts__card .hproducts__text .hproducts__desc {
  font-size: 0.9rem;
  text-align: center;
  font-weight: 500;
  color: #6c757d;
}

@media (min-width: 720px) {
  .hproducts__container .hproducts__slide .carousel-inner .hproducts__card .hproducts__text .hproducts__desc {
    font-size: 1rem;
  }
}

@media (min-width: 1080px) {
  .hproducts__container .hproducts__slide .carousel-inner .hproducts__card .hproducts__text .hproducts__desc {
    font-size: 1.2rem;
  }
}

@media (max-width: 1110px) {
  .hproducts__container .hproducts__slide .carousel-inner .hproducts__card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .hproducts__container .hproducts__slide .carousel-inner .hproducts__card .hproducts__imagec {
    width: 100%;
  }
  .hproducts__container .hproducts__slide .carousel-inner .hproducts__card .hproducts__text {
    width: 100%;
  }
}

.hproducts__container .hproducts__slide .carousel-control-prev-icon,
.hproducts__container .hproducts__slide .carousel-control-next-icon {
  width: 50%;
  height: 50%;
}

.hproducts__container .hproducts__slide .carousel-control-next,
.hproducts__container .hproducts__slide .carousel-control-prev {
  background-color: #6c757d;
  width: 8%;
  height: 25%;
  max-height: 80px;
  border-radius: 10px;
  margin: auto auto;
  overflow: hidden;
}

@media (max-width: 720px) {
  .hproducts__container .hproducts__slide .carousel-control-next,
  .hproducts__container .hproducts__slide .carousel-control-prev {
    width: 40px;
    margin: auto 0;
  }
}

.hmarcas__container {
  padding: 5vh 0;
  width: 100%;
  height: auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 2fr 2fr 2fr;
      grid-template-columns: 2fr 2fr 2fr 2fr;
      grid-template-areas: "header header header header" "img img img img";
}

.hmarcas__container .hmarcas__header {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: header;
  margin: 0 auto;
}

.hmarcas__container .hmarcas__header .hmarcas__h3 {
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
  padding: 0.2rem 1rem;
  z-index: 20;
  border-radius: 15px;
  display: inline-block;
  color: #e9ecef;
  background-color: #343a40;
  border: 2px #343a40 solid;
  -webkit-box-shadow: 0 0 0.2rem #343a40;
          box-shadow: 0 0 0.2rem #343a40;
}

@media (min-width: 720px) {
  .hmarcas__container .hmarcas__header .hmarcas__h3 {
    font-size: 2.5rem;
  }
}

.hmarcas__container .hmarcas__imagec {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: img;
  width: 80%;
  max-width: 980px;
  margin: 5vh auto;
}

@media (max-width: 680px) {
  .hmarcas__container .hmarcas__imagec {
    width: 90%;
  }
}

.hmarcas__container .hmarcas__imagec .hmarcas__img {
  width: 100%;
  height: 100%;
  border: 3px solid black;
  border-radius: 15px;
}

.navBar {
  height: 14vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #cfd6dd;
  z-index: 100;
  position: -webkit-sticky;
  position: sticky;
  width: 100%;
  top: 0;
  left: 0;
  -webkit-box-shadow: 0 0.1rem 0.2rem black;
          box-shadow: 0 0.1rem 0.2rem black;
}

.navBar .navLogo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1em 1rem;
  height: 70%;
  max-width: 180px;
  z-index: 200;
}

.navBar .navLogo .logoImg {
  max-height: 5em;
  width: 100%;
  border-radius: 15px;
  height: auto;
  border: 2px black solid;
}

.navBar .navButtons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.navBar .navButtons .navbar__list {
  padding: 1em;
  list-style-type: none;
  margin: 0 auto;
}

.navBar .navButtons .navbar__list .navbar__item {
  display: inline-block;
  padding: 0.3em 0.9rem;
  margin: 0.5em;
  -webkit-box-shadow: 0 0.1rem 0.3rem gray;
          box-shadow: 0 0.1rem 0.3rem gray;
  border-radius: 10px;
  background-color: #e9ecef;
}

.navBar .navButtons .navbar__list .navbar__item .navbar__link {
  color: #343a40;
  font-size: 1.1em;
  font-weight: 500;
  text-decoration: none;
}

.navBar .navButtons .navbar__list .navbar__item:hover {
  background-color: #d6dee4;
}

#mobileMenu input {
  opacity: 0;
}

@media (min-width: 768px) {
  .hamIcon {
    display: none;
  }
  .navButtons .navbar__list .navbar__item:first-child {
    display: none;
  }
}

@media (max-width: 768px) {
  .navLogo {
    margin: 0 auto;
  }
  #mobileMenu input {
    display: block;
    width: 40px;
    height: 40px;
    position: fixed;
    top: 2.5em;
    right: 1.8rem;
    cursor: pointer;
    z-index: 1300;
    background-color: gray;
  }
  #mobileMenu input:checked ~ .hamIcon span {
    opacity: 1;
    -webkit-transform: rotate(-45deg) translate(3px, 1px);
            transform: rotate(-45deg) translate(3px, 1px);
    background: #232323;
  }
  #mobileMenu input:checked ~ .hamIcon span:nth-last-child(2) {
    -webkit-transform: rotate(45deg) translate(-5px, -11px);
            transform: rotate(45deg) translate(-5px, -11px);
  }
  #mobileMenu input:checked ~ .hamIcon span:nth-last-child(3) {
    opacity: 0;
    -webkit-transform: rotate(0deg) scale(0.2, 0.2);
            transform: rotate(0deg) scale(0.2, 0.2);
  }
  .hamIcon {
    height: 40px;
    width: 40px;
    position: fixed;
    top: 2.5em;
    right: 1.8rem;
    z-index: 1000;
    background-color: #dee2e6;
    border-radius: 5px;
    border-bottom: 3px inset gray;
    border-right: 3px inset gray;
  }
  .hamIcon span {
    display: block;
    width: 33px;
    height: 4px;
    margin: 0.3em auto 0.5em auto;
    background: black;
    border-radius: 15px;
    z-index: 1000;
    -webkit-transform-origin: 4px 0px;
            transform-origin: 4px 0px;
    -webkit-transition: background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    transition: background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  }
  .hamIcon span:first-child {
    -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
  }
  .hamIcon span:nth-last-child(2) {
    -webkit-transform-origin: 0% 100%;
            transform-origin: 0% 100%;
  }
  .navButtons .navbar__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 100%;
    position: fixed;
    top: 0;
    padding-top: 20vh;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #cfd6dd;
    list-style-type: none;
    -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
    -webkit-transform: translate(-100%, 0);
            transform: translate(-100%, 0);
    -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    transition: -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  }
  .navButtons .navbar__list .navbar__item {
    display: inline-block;
    padding: 1.3em 0 1em 0;
    border-bottom: 3px inset gray;
    background-color: #dee2e6;
    margin: 5vh 35%;
    text-align: center;
  }
  .navButtons input:checked ~ .navbar__list {
    -webkit-transform: none;
            transform: none;
  }
}

.footer {
  position: relative;
  height: auto;
  width: 100%;
  background-color: #343a40;
  overflow: visible;
  -webkit-box-shadow: 0 -0.1rem 0.3rem black;
          box-shadow: 0 -0.1rem 0.3rem black;
  z-index: 30;
}

.footer .footerCont {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 480) {
  .footer .footerCont {
    margin: auto -4vw;
  }
}

.footer .footerCont .footerInfo {
  padding: 1rem;
  color: #e9ecef;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 15px;
  -webkit-box-shadow: 0 0 0.3rem black;
          box-shadow: 0 0 0.3rem black;
  -ms-flex-item-align: start;
      align-self: flex-start;
  text-align: center;
  font-size: 18px;
  margin: 3em 2vw 3em 8vw;
  max-width: 50%;
}

@media (max-width: 480px) {
  .footer .footerCont .footerInfo {
    margin-left: 5vw;
  }
}

.footer .footerCont .footerInfo .footerBr {
  margin: -2vh auto 05vh;
  width: 70%;
  border: 2px groove #f8f9faff;
  border-radius: 15px;
}

.footer .footerCont .footerInfo .footerInfoTitle {
  font-size: 1.5rem;
  font-weight: 900;
  padding-bottom: 1em;
}

.footer .footerCont .footerInfo .footerInfoItem {
  margin: 0 auto 2vh;
  padding-bottom: 0.3em;
  max-width: 60%;
  color: #adb5bd;
}

@media (max-width: 580px) {
  .footer .footerCont .footerInfo .footerInfoItem {
    max-width: 100%;
  }
}

.footer .footerCont .footerInfo .footerBoldt {
  font-weight: bold;
  color: #e9ecef;
}

.footer .footerCont .footerLinks {
  margin-right: 8vw;
  max-width: 50%;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 15px;
  -webkit-box-shadow: 0 0 0.3rem black;
          box-shadow: 0 0 0.3rem black;
  padding: 1.5rem 0;
}

@media (max-width: 480px) {
  .footer .footerCont .footerLinks {
    margin-right: 5vw !important;
  }
}

.footer .footerCont .footerLinks .footerList {
  list-style-type: none;
}

.footer .footerCont .footerLinks .footerListItem {
  margin: 2em;
}

.footer .footerCont .footerLinks .footerIcon {
  max-width: 60px;
  background-color: #dee2e6;
  padding: 0.5em;
  border: 5px outset lightslategrey;
  border-radius: 15px;
}

.block__pproducts {
  width: 100%;
  height: auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 2fr 2fr 2fr;
      grid-template-columns: 2fr 2fr 2fr 2fr;
      grid-template-areas: "header header . ." "card card card card";
  background-color: #adb5bd;
}

@media (max-width: 720px) {
  .block__pproducts {
        grid-template-areas: ".header header ." "card card card card";
  }
}

.block__pproducts .pproducts__header {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: header;
  margin: 2vh auto 0;
  padding-bottom: 2vh;
  z-index: 20;
}

@media (min-width: 720px) and (max-width: 860px) {
  .block__pproducts .pproducts__header {
    margin-left: 2vh;
  }
}

.block__pproducts .pproducts__header .pproducts__h1 {
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
  padding: 0.2rem 1rem;
  z-index: 20;
  border-radius: 15px;
  color: #e9ecef;
  text-shadow: 0 0 0.1rem #343a40;
  background-color: #6c757d;
  -webkit-box-shadow: 0 0 0.4rem #343a40;
          box-shadow: 0 0 0.4rem #343a40;
  border: 2px groove #6c757d;
}

@media (min-width: 720px) {
  .block__pproducts .pproducts__header .pproducts__h1 {
    font-size: 2.5rem;
  }
}

.block__pproducts .pproducts__cardscont {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: card;
  height: auto;
  width: 100%;
  margin: 0 auto;
}

.block__pproducts .pproducts__cardscont .pproducts__cardbackg {
  width: 100%;
  height: auto;
  padding: 2.5vh 0;
  border-bottom: 1px black solid;
}

.block__pproducts .pproducts__cardscont .pproducts__cardbackg.sec--1 {
  background-color: #adb5bd;
}

.block__pproducts .pproducts__cardscont .pproducts__cardbackg.sec--2 {
  background-color: #dee2e6;
}

.block__pproducts .pproducts__cardscont .pproducts__cardbackg.sec--3 {
  background-color: #adb5bd;
}

.block__pproducts .pproducts__cardscont .pproducts__cardbackg.sec--4 {
  background-color: #dee2e6;
}

.block__pproducts .pproducts__cardscont .pproducts__cardbackg.sec--5 {
  background-color: #adb5bd;
}

.block__pproducts .pproducts__cardscont .pproducts__cardbackg.sec--6 {
  background-color: #dee2e6;
}

.block__pproducts .pproducts__cardscont .pproducts__cardbackg.sec--7 {
  background-color: #adb5bd;
  border-bottom: none;
}

.block__pproducts .pproducts__cardscont .pproducts__pcard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: auto;
  width: 80%;
  max-width: 1080px;
  border-radius: 15px;
  overflow: hidden;
  -webkit-box-shadow: 0 0 0.5rem grey;
          box-shadow: 0 0 0.5rem grey;
  max-height: 645px;
  margin: 0 auto;
  background-color: #e9ecef;
}

.block__pproducts .pproducts__cardscont .pproducts__pcard .pcard__imagec {
  width: 60%;
  height: 100%;
  border-right: 2px groove gray;
  border-bottom: none;
}

.block__pproducts .pproducts__cardscont .pproducts__pcard .pcard__imagec .pcard__img {
  width: 100%;
  height: 100%;
}

.block__pproducts .pproducts__cardscont .pproducts__pcard .pcard__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 40%;
  height: 100%;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 2rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.block__pproducts .pproducts__cardscont .pproducts__pcard .pcard__text .pcard__h3 {
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
  font-weight: 900;
  border-bottom: 3px groove #6c757d;
  color: #343a40;
  padding-bottom: 1em;
}

@media (min-width: 720px) {
  .block__pproducts .pproducts__cardscont .pproducts__pcard .pcard__text .pcard__h3 {
    font-size: 1.5rem;
  }
}

@media (min-width: 1080px) {
  .block__pproducts .pproducts__cardscont .pproducts__pcard .pcard__text .pcard__h3 {
    font-size: 1.8rem;
  }
}

.block__pproducts .pproducts__cardscont .pproducts__pcard .pcard__text .pcard__p {
  font-size: 0.9rem;
  text-align: center;
  font-weight: 500;
  color: #6c757d;
}

@media (min-width: 720px) {
  .block__pproducts .pproducts__cardscont .pproducts__pcard .pcard__text .pcard__p {
    font-size: 1rem;
  }
}

@media (min-width: 1080px) {
  .block__pproducts .pproducts__cardscont .pproducts__pcard .pcard__text .pcard__p {
    font-size: 1.2rem;
  }
}

.block__pproducts .pproducts__cardscont .pproducts__pcard.pproducts__pcard--reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.block__pproducts .pproducts__cardscont .pproducts__pcard.pproducts__pcard--reverse .pcard__imagec {
  border-right: none;
  border-left: 2px groove gray;
}

@media (max-width: 910px) {
  .block__pproducts .pproducts__cardscont .pproducts__pcard.pproducts__pcard--reverse {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .block__pproducts .pproducts__cardscont .pproducts__pcard.pproducts__pcard--reverse .pcard__imagec {
    border-left: none;
  }
}

@media (max-width: 910px) {
  .block__pproducts .pproducts__cardscont .pproducts__pcard {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .block__pproducts .pproducts__cardscont .pproducts__pcard .pcard__imagec {
    width: 100%;
    border-bottom: 2px groove gray;
    border-right: none;
  }
  .block__pproducts .pproducts__cardscont .pproducts__pcard .pcard__text {
    width: 100%;
  }
}

.block__psucur {
  width: 100%;
  margin: 0 auto;
  height: 100%;
  display: -ms-grid;
  display: grid;
      grid-template-areas: ". header header ." "image image info info" "map map map map";
  -ms-grid-columns: 2fr 2fr 2fr 2fr;
      grid-template-columns: 2fr 2fr 2fr 2fr;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #dee2e6;
}

@media (max-width: 780px) {
  .block__psucur {
        grid-template-areas: "header header header header" "image image image image" "info info info info" "map map map map";
  }
}

.block__psucur .psucur__header {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: header;
  margin-top: 2vh;
}

.block__psucur .psucur__header .psucur__h1 {
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
  padding: 0.2rem 1rem;
  z-index: 20;
  border-radius: 15px;
  color: #343a40;
  background-color: #e9ecef;
  -webkit-box-shadow: 0 0 0.4rem grey;
          box-shadow: 0 0 0.4rem grey;
}

@media (min-width: 720px) {
  .block__psucur .psucur__header .psucur__h1 {
    font-size: 2.5rem;
  }
}

.block__psucur .psucur__imagec {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: image;
  width: 90%;
  height: auto;
  margin: 5vh auto 0;
  padding: 1rem;
  border-radius: 15px;
  overflow: hidden;
  -webkit-box-shadow: 0 0 0.3rem black;
          box-shadow: 0 0 0.3rem black;
  border: 2px groove #6c757d;
  background-color: #343a40;
  z-index: 30;
}

@media (min-width: 780px) {
  .block__psucur .psucur__imagec {
    margin-right: -5vh;
  }
}

.block__psucur .psucur__imagec .psucur__image {
  height: 100%;
  width: 100%;
  border-radius: 15px;
  overflow: hidden;
  -webkit-box-shadow: 0 0 0.45rem #343a40;
          box-shadow: 0 0 0.45rem #343a40;
}

.block__psucur .psucur__info {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-area: info;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  max-width: 75%;
  margin: -1.9vh auto 5vh;
  padding: 2rem 2rem;
  height: auto;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 0 0 15px 15px;
  text-align: center;
  background-color: #6c757d;
  color: #e9ecef;
  border: 2px groove #6c757d;
  -webkit-box-shadow: 0 0 0.4rem black;
          box-shadow: 0 0 0.4rem black;
}

@media (min-width: 480px) {
  .block__psucur .psucur__info {
    width: 70%;
  }
}

@media (min-width: 780px) {
  .block__psucur .psucur__info {
    height: 70%;
    width: 70vw;
    border-radius: 0 15px 15px 0;
    margin: 5vh auto 0;
    margin-left: 3vh;
  }
}

.block__psucur .psucur__info .psucur__textbg {
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
  font-weight: 900;
  margin-bottom: 1.5em;
  color: #f8f9faff;
  text-shadow: 0 0 0.15rem black;
  border-bottom: 4px groove #adb5bd;
}

@media (min-width: 720px) {
  .block__psucur .psucur__info .psucur__textbg {
    font-size: 1.5rem;
  }
}

@media (min-width: 1080px) {
  .block__psucur .psucur__info .psucur__textbg {
    font-size: 1.8rem;
  }
}

@media (max-width: 720px) {
  .block__psucur .psucur__info .psucur__textbg {
    font-size: 1.5rem;
  }
}

.block__psucur .psucur__info .psucur__textsm {
  font-size: 0.9rem;
  text-align: center;
  font-weight: 500;
}

@media (min-width: 720px) {
  .block__psucur .psucur__info .psucur__textsm {
    font-size: 1rem;
  }
}

@media (min-width: 1080px) {
  .block__psucur .psucur__info .psucur__textsm {
    font-size: 1.2rem;
  }
}

@media (max-width: 720px) {
  .block__psucur .psucur__info .psucur__textsm {
    font-size: 1.1rem;
  }
}

.block__psucur .psucur__info .psucur__textsm .psucur__textb {
  font-weight: 900;
}

.block__psucur .psucur__mapsec {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: map;
  width: 100%;
  height: auto;
  margin-top: 5vh;
  background-color: #adb5bd;
  border-top: 1px solid black;
}

.block__psucur .psucur__mapsec .psucur__map {
  height: 80vh;
  width: 70%;
  margin: 5vh auto;
  border-radius: 15px;
  background-color: #343a40;
  border: 3px groove #adb5bd;
  -webkit-box-shadow: 0 0 0.3rem #343a40;
          box-shadow: 0 0 0.3rem #343a40;
}

@media (max-width: 720px) {
  .block__psucur .psucur__mapsec .psucur__map {
    width: 90%;
  }
}

.block__psucur .psucur__mapsec .psucur__map .psucur__iframe {
  display: block;
  width: 90%;
  height: 90%;
  border: 3px;
  margin: 1.5em auto;
  border-radius: 15px;
  border: 3px groove #adb5bd;
  -webkit-box-shadow: 0 0 0.1rem grey;
          box-shadow: 0 0 0.1rem grey;
}

.block__pgalery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: auto;
  background-color: #dee2e6;
}

.block__pgalery .pgalery__header {
  margin: 2vh auto 3vh;
}

.block__pgalery .pgalery__header .pgalery__h1 {
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
  padding: 0.2rem 1rem;
  z-index: 20;
  border-radius: 15px;
  padding: 0.6rem 1rem;
  color: #dee2e6;
  text-shadow: 0 0 0.05rem black;
  background-color: #6c757d;
  -webkit-box-shadow: 0 0 0.3rem #343a40;
          box-shadow: 0 0 0.3rem #343a40;
  border: 2px groove #6c757d;
}

@media (min-width: 720px) {
  .block__pgalery .pgalery__header .pgalery__h1 {
    font-size: 2.5rem;
  }
}

.block__pgalery .pgalery__sec {
  width: 100%;
}

.block__pgalery .pgalery__sec.sec--1 {
  background-color: #dee2e6;
}

.block__pgalery .pgalery__sec.sec--2 {
  background-color: #343a40;
}

.block__pgalery .pgalery__sec.sec--3 {
  background-color: #dee2e6;
}

.block__pgalery .pgalery__sec.sec--4 {
  background-color: #adb5bd;
}

.block__pgalery .pgalery__gcard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 2vh auto 7vh;
  height: auto;
  width: 60%;
}

@media (max-width: 720px) {
  .block__pgalery .pgalery__gcard {
    width: 98%;
  }
}

.block__pgalery .pgalery__gcard .gcard__imagec {
  width: 90%;
  border-radius: 0 0 15px 15px;
  overflow: hidden;
  -webkit-box-shadow: 0 0.1rem 0.4rem grey;
          box-shadow: 0 0.1rem 0.4rem grey;
  border-top: 3px groove #adb5bd;
  z-index: 15;
}

.block__pgalery .pgalery__gcard .gcard__imagec .gcard__image {
  width: 100%;
  height: 100%;
}

.block__pgalery .pgalery__gcard .gcard__imagec .carousel-control-next,
.block__pgalery .pgalery__gcard .gcard__imagec .carousel-control-prev {
  background-color: #adb5bd;
  width: 5vw;
  min-width: 40px;
}

.block__pgalery .pgalery__gcard .gcard__text {
  width: 70%;
  text-align: center;
  padding: 1.2rem 2rem;
  border-radius: 0 0 15px 15px;
  margin-bottom: -1.5em;
  opacity: 0.93;
  z-index: 10;
  background-color: #e9ecef;
  color: #343a40;
  -webkit-box-shadow: 0 0 0.4rem grey;
          box-shadow: 0 0 0.4rem grey;
}

@media (max-width: 720px) {
  .block__pgalery .pgalery__gcard .gcard__text {
    width: 80%;
  }
}

.block__pgalery .pgalery__gcard .gcard__text .gcard__title {
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
  font-weight: 900;
}

@media (min-width: 720px) {
  .block__pgalery .pgalery__gcard .gcard__text .gcard__title {
    font-size: 1.5rem;
  }
}

@media (min-width: 1080px) {
  .block__pgalery .pgalery__gcard .gcard__text .gcard__title {
    font-size: 1.8rem;
  }
}

.block__pgalery .pgalery__gcard .gcard__text .gcard__desc {
  font-size: 0.9rem;
  text-align: center;
  font-weight: 500;
}

@media (min-width: 720px) {
  .block__pgalery .pgalery__gcard .gcard__text .gcard__desc {
    font-size: 1rem;
  }
}

@media (min-width: 1080px) {
  .block__pgalery .pgalery__gcard .gcard__text .gcard__desc {
    font-size: 1.2rem;
  }
}

.block__pcontact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: auto;
  background-color: #dee2e6;
}

.block__pcontact .pcontact__header {
  margin: 2vh auto 0;
}

.block__pcontact .pcontact__header .pcontact__h1 {
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
  padding: 0.2rem 1rem;
  z-index: 20;
  border-radius: 15px;
  color: #f8f9faff;
  background-color: #343a40;
  -webkit-box-shadow: 0 0 0.5rem grey;
          box-shadow: 0 0 0.5rem grey;
}

@media (min-width: 720px) {
  .block__pcontact .pcontact__header .pcontact__h1 {
    font-size: 2.5rem;
  }
}

.block__pcontact .pcontact__csocials {
  width: 100%;
  margin: 0;
  height: auto;
}

.block__pcontact .pcontact__csocials .csocials__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  list-style-type: none;
  text-align: center;
  height: auto;
  width: 80%;
  max-width: 700px;
  margin: 5vh auto;
  padding: 2em 1.9rem;
  border-radius: 15px;
  background-color: #6c757d;
  border: 2px groove #6c757d;
  -webkit-box-shadow: 0 0 0.5rem grey;
          box-shadow: 0 0 0.5rem grey;
}

@media (max-width: 720px) {
  .block__pcontact .pcontact__csocials .csocials__list {
    width: 90%;
  }
}

.block__pcontact .pcontact__csocials .csocial__link {
  text-decoration: none;
}

.block__pcontact .pcontact__csocials .csocials__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 200px;
  max-width: 500px;
  padding: 1rem;
  margin: 2rem auto;
  border: 3px groove #6c757d;
  border-radius: 15px;
  background-color: #343a40;
  -webkit-box-shadow: 0 0 0.2rem black;
          box-shadow: 0 0 0.2rem black;
}

.block__pcontact .pcontact__csocials .csocials__item.facebookbtn:hover {
  background-color: #4267b2;
  -webkit-box-shadow: 0 0 0.4rem black;
          box-shadow: 0 0 0.4rem black;
}

.block__pcontact .pcontact__csocials .csocials__item.whatsappbtn:hover {
  background-color: #25d366;
  -webkit-box-shadow: 0 0 0.4rem black;
          box-shadow: 0 0 0.4rem black;
}

.block__pcontact .pcontact__csocials .csocials__item.emailbtn:hover {
  background-color: #db4437;
  -webkit-box-shadow: 0 0 0.4rem black;
          box-shadow: 0 0 0.4rem black;
}

.block__pcontact .pcontact__csocials .csocials__image {
  max-width: 80px;
  background-color: #dee2e6;
  padding: 0.5em;
  border: 5px outset lightslategrey;
  border-radius: 15px;
}

.block__pcontact .pcontact__csocials .csocials__p {
  height: 100%;
  width: 50%;
  color: #e9ecef;
  text-shadow: 0 0 0.1rem black;
  font-weight: 900;
  font-size: 1.4rem;
  letter-spacing: 0.1rem;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  width: 100%;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  background-color: #e9ecef;
}

.block {
  width: 100%;
  height: auto;
}

.block .block__hero {
  background-color: #f8f9faff;
}

.block .block__hproducts {
  background-color: #e9ecef;
}

.block .block__hmarcas {
  background-color: #6c757d;
}
/*# sourceMappingURL=style.css.map */