@mixin image {
    width: 100%;
    height: 100%;
}

@mixin card {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 80%;
    max-width: 1080px;
    height: auto;
    overflow: hidden;
    border-radius: 15px;
    box-shadow: 0 0 0.5rem grey;
}

@mixin font-title {
    font-size: 1rem;
    font-weight: 600;
    font-weight: $f-black;
    text-align: center;
    @media (min-width: 720px) {
        font-size: 1.5rem;
    }
    @media (min-width: 1080px) {
        font-size: 1.8rem;
    }
}

@mixin font-desc {
    font-size: 0.9rem;
    font-weight: $f-reg;
    text-align: center;
    @media (min-width: 720px) {
        font-size: 1rem;
    }
    @media (min-width: 1080px) {
        font-size: 1.2rem;
    }
}

@mixin sec-title {
    z-index: 20;
    padding: 0.2rem 1rem;
    border-radius: 15px;
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
    @media (min-width: 720px) {
        font-size: 2.5rem;
    }
}

.block {
    width: 100%;
    height: auto;
}

.mid-line {
    width: 100%;
    border: 2px groove $darkgrey;
}
