.block__pcontact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    background-color: $color2;
    .pcontact__header {
        margin: 2vh auto 0;
        .pcontact__h1 {
            @include sec-title;
            color: $color1;
            background-color: $color6;
            box-shadow: 0 0 0.5rem grey;
        }
    }
    .pcontact__csocials {
        width: 100%;
        margin: 0;
        height: auto;
        .csocials__list {
            display: flex;
            flex-direction: column;
            list-style-type: none;
            text-align: center;
            height: auto;
            width: 80%;
            max-width: 700px;
            margin: 5vh auto;
            padding: 2em 1.9rem;
            border-radius: 15px;
            background-color: $color5;
            border: 2px groove $color5;
            box-shadow: 0 0 0.5rem grey;
            @media (max-width: 720px) {
                width: 90%;
            }
        }
        .csocial__link {
            text-decoration: none;
        }
        .csocials__item {
            display: flex;
            justify-content: center;
            align-items: center;
            min-width: 200px;
            max-width: 500px;
            padding: 1rem;
            margin: 2rem auto;
            border: 3px groove $color5;
            border-radius: 15px;
            background-color: $color6;
            box-shadow: 0 0 0.2rem black;
            &.facebookbtn:hover {
                background-color: #4267b2;
                box-shadow: 0 0 0.4rem black;
            }
            &.whatsappbtn:hover {
                background-color: #25d366;
                box-shadow: 0 0 0.4rem black;
            }
            &.emailbtn:hover {
                background-color: #db4437;
                box-shadow: 0 0 0.4rem black;
            }
        }
        .csocials__image {
            max-width: 80px;
            background-color: #dee2e6;
            padding: 0.5em;
            border: 5px outset lightslategrey;
            border-radius: 15px;
        }
        .csocials__p {
            height: 100%;
            width: 50%;
            color: $color3;
            text-shadow: 0 0 0.1rem black;
            font-weight: $f-black;
            font-size: 1.4rem;
            letter-spacing: 0.1rem;
        }
    }
}
