@import "variables";
.hero__container {
    width: 100%;
    height: auto;
    padding: 5vh 0;
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 2fr;
    grid-template-areas: ". . header header" "image image image image" "desc desc desc desc";
    .hero__header {
        grid-area: header;
        margin: 0 auto;
        .hero__h1 {
            color: $color6;
            background-color: $color3;
            font-size: 3rem;
            padding: 0.2em 1rem;
            z-index: 10;
            border-radius: 15px;
            border: 4px $color5 groove;
        }
    }
    .hero__imagec {
        grid-area: image;
        width: 80%;
        max-width: 1080px;
        height: auto;
        margin: 5vh auto;
        border-radius: 15px;
        overflow: hidden;
        .hero__img {
            width: 100%;
            height: 100%
        }
    }
    .hero__text {
        grid-area: desc;
        margin: 0 auto;
        max-width: 80vw;
        padding: 1.5em 3em;
        border-radius: 15px;
        box-shadow: 0.1em 0.2rem 0.3rem gray;
        .hero__p {
            font-size: 1rem;
            text-align: center;
        }
    }
}

.hproducts__container {
    width: 100%;
    height: auto;
    padding: 5vh 0;
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 2fr;
    grid-template-areas: "header header . ." "card card card card";
    .hproducts__header {
        grid-area: header;
        margin: 0 auto 10vh;
        .hproducts__h3 {
            color: $color1;
            background-color: $color5;
            font-size: 3rem;
            display: inline-block;
            text-align: center;
            border-radius: 15px;
            border: 4px $color5 groove;
            padding: 0.2em 1rem;
        }
    }
    .hproducts__card {
        @include card;
        grid-area: card;
        margin: 0 auto;
        .hproducts__imagec {
            height: 100%;
            width: 60%;
            padding: 0;
            .hproducts__img {
                width: 100%;
                height: 100%;
            }
        }
        .hproducts__text {
            width: 40%;
            display: flex;
            flex-direction: column;
            height: 100%;
            align-items: center;
            justify-content: center;
            padding: 1.5em 1.5rem;
            .hproducts__name {
                @include pname;
            }
            .hproducts__desc {
                @include pdesc;
            }
        }
    }
}

.hmarcas__container {
    padding: 5vh 0;
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 2fr;
    grid-template-areas: ". header header ." "img img img img";
    .hmarcas__header {
        margin: 0 auto;
        grid-area: header;
        .hmarcas__h3 {
            color: $color6;
            background-color: $color2;
            font-size: 3rem;
            display: inline-block;
            text-align: center;
            border-radius: 15px;
            border: 4px $color6 groove;
            padding: 0.2em 1rem;
        }
    }
    .hmarcas__imagec {
        grid-area: img;
        width: 80%;
        max-width: 980px;
        margin: 5vh auto;
        .hmarcas__img {
            width: 100%;
            height: 100%;
            border: 3px solid black;
            border-radius: 15px;
        }
    }
}