.navBar {
    display: flex;
    position: sticky;
    z-index: 100;
    top: 0;
    left: 0;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 14vh;
    background-color: $navbarc;
    box-shadow: 0 0.1rem 0.2rem black;
    .navLogo {
        display: flex;
        z-index: 200;
        align-items: center;
        max-width: 180px;
        height: 70%;
        margin: 1em 1rem;
        .logoImg {
            width: 100%;
            height: auto;
            max-height: 5em;
            border: 2px black solid;
            border-radius: 15px;
        }
    }
    .navButtons {
        display: flex;
        flex-direction: row;
        align-items: center;
        .navbar__list {
            margin: 0 auto;
            padding: 1em;
            list-style-type: none;
            .navbar__item {
                display: inline-block;
                margin: 0.5em;
                padding: 0.3em 0.9rem;
                border-radius: 10px;
                background-color: $softwhite;
                box-shadow: 0 0.1rem 0.3rem gray;
                .navbar__link {
                    color: $plusdarkgrey;
                    font-size: 1.1em;
                    font-weight: 500;
                    text-decoration: none;
                }
                &:hover {
                    background-color: #d6dee4;
                }
            }
        }
    }
}

#mobileMenu {
    input {
        opacity: 0;
    }
}

@media (min-width: 768px) {
    .hamIcon {
        display: none;
    }
    .navButtons {
        .navbar__list .navbar__item {
            &:first-child {
                display: none;
            }
        }
    }
}

@media (max-width: 768px) {
    .navLogo {
        margin: 0 auto;
    }
    #mobileMenu {
        input {
            display: block;
            position: fixed;
            z-index: 1300;
            top: 2.5em;
            right: 1.8rem;
            width: 40px;
            height: 40px;
            background-color: gray;
            cursor: pointer;
            &:checked {
                ~ {
                    .hamIcon {
                        span {
                            transform: rotate(-45deg) translate(3px, 1px);
                            opacity: 1;
                            background: #232323;
                            &:nth-last-child(2) {
                                transform: rotate(45deg) translate(-5px, -11px);
                            }
                            &:nth-last-child(3) {
                                transform: rotate(0deg) scale(0.2, 0.2);
                                opacity: 0;
                            }
                        }
                    }
                }
            }
        }
    }
    .hamIcon {
        position: fixed;
        z-index: 1000;
        top: 2.5em;
        right: 1.8rem;
        width: 40px;
        height: 40px;
        border-right: 3px inset gray;
        border-bottom: 3px inset gray;
        border-radius: 5px;
        background-color: #dee2e6;
        span {
            display: block;
            z-index: 1000;
            width: 33px;
            height: 4px;
            margin: 0.3em auto 0.5em auto;
            transform-origin: 4px 0px;
            transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
                background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
                opacity 0.55s ease;
            border-radius: 15px;
            background: black;
            &:first-child {
                transform-origin: 0% 0%;
            }
            &:nth-last-child(2) {
                transform-origin: 0% 100%;
            }
        }
    }
    .navButtons {
        .navbar__list {
            display: flex;
            position: fixed;
            top: 0;
            left: 0;
            flex-direction: column;
            justify-content: center;
            width: 100%;
            height: 100%;
            height: 100vh;
            padding-top: 20vh;
            list-style-type: none;
            transform: translate(-100%, 0);
            transform-origin: 0% 0%;
            transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
            background: $navbarc;
            .navbar__item {
                display: inline-block;
                margin: 5vh 35%;
                padding: 1.3em 0 1em 0;
                border-bottom: 3px inset gray;
                background-color: $lightgrey;
                text-align: center;
            }
        }
        input {
            &:checked {
                ~ {
                    .navbar__list {
                        transform: none;
                    }
                }
            }
        }
    }
}
