.block__psucur {
    display: grid;
    grid-template-areas: ". header header ." "image image info info" "map map map map";
    grid-template-columns: 2fr 2fr 2fr 2fr;
    grid-template-rows: auto;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    background-color: $lightgrey;
    justify-items: center;
    @media (max-width: 780px) {
        grid-template-areas: "header header header header" "image image image image" "info info info info" "map map map map";
    }
    .psucur__header {
        grid-area: header;
        margin-top: 2vh;
        .psucur__h1 {
            @include sec-title;
            background-color: $softwhite;
            box-shadow: 0 0 0.4rem grey;
            color: $plusdarkgrey;
        }
    }
    .psucur__imagec {
        z-index: 30;
        grid-area: image;
        width: 90%;
        height: auto;
        margin: 5vh auto 0;
        padding: 1rem;
        overflow: hidden;
        border: 2px groove $darkgrey;
        border-radius: 15px;
        background-color: $plusdarkgrey;
        box-shadow: 0 0 0.3rem black;
        @media (min-width: 780px) {
            margin-right: -5vh;
        }
        .psucur__image {
            width: 100%;
            height: 100%;
            overflow: hidden;
            border-radius: 15px;
            box-shadow: 0 0 0.45rem $plusdarkgrey;
        }
    }
    .psucur__info {
        display: flex;
        z-index: 10;
        grid-area: info;
        flex-direction: column;
        justify-content: center;
        width: fit-content;
        max-width: 75%;
        height: auto;
        margin: -1.9vh auto 5vh;
        padding: 2rem 2rem;
        border: 2px groove $darkgrey;
        border-radius: 0 0 15px 15px;
        background-color: $darkgrey;
        box-shadow: 0 0 0.4rem black;
        color: $softwhite;
        text-align: center;
        @media (min-width: 480px) {
            width: 70%;
        }
        @media (min-width: 780px) {
            width: 70vw;
            height: 70%;
            margin: 5vh auto 0;
            margin-left: 3vh;
            border-radius: 0 15px 15px 0;
        }
        .psucur__textbg {
            @include font-title;
            margin-bottom: 1.5em;
            border-bottom: 4px groove $grey;
            color: $white;
            text-shadow: 0 0 0.15rem black;
            @media (max-width: 720px) {
                font-size: 1.5rem;
            }
        }
        .psucur__textsm {
            @include font-desc;
            @media (max-width: 720px) {
                font-size: 1.1rem;
            }
            .psucur__textb {
                font-weight: $f-black;
            }
        }
    }
    .psucur__mapsec {
        grid-area: map;
        width: 100%;
        height: auto;
        margin-top: 5vh;
        border-top: 1px solid black;
        background-color: $grey;
        .psucur__map {
            width: 70%;
            height: 80vh;
            margin: 5vh auto;
            border: 3px groove $grey;
            border-radius: 15px;
            background-color: $plusdarkgrey;
            box-shadow: 0 0 0.3rem $plusdarkgrey;
            @media (max-width: 720px) {
                width: 90%;
            }
            .psucur__iframe {
                display: block;
                width: 90%;
                height: 90%;
                margin: 1.5em auto;
                border: 3px;
                border: 3px groove $grey;
                border-radius: 15px;
                box-shadow: 0 0 0.1rem grey;
            }
        }
    }
}
