.block__psucur {
    display: grid;
    grid-template-areas: "header header header header" "image image info info" "map map map map";
    grid-template-columns: 2fr 2fr 2fr 2fr;
    grid-template-rows: auto;
    row-gap: 7vh;
    justify-items: center;
    align-items: center;
    width: 90%;
    margin: 0 auto;
    height: auto;
    @media (max-width: 720px) {
        grid-template-areas: "header header header header" "image image image image" "info info info info" "map map map map";
    }
    .psucur__header {
        grid-area: header;
        .psucur__h1 {
            color: $color6;
            background-color: $color3;
            font-size: 3rem;
            padding: 0.2em 1rem;
            z-index: 10;
            border-radius: 15px;
            border: 4px $color5 groove;
        }
    }
    .psucur__imagec {
        grid-area: image;
        width: 100%;
        height: auto;
        align-items: center;
        justify-content: center;
        border-radius: 15px;
        overflow: hidden;
        border: 3px groove $color6;
        .psucur__image {
            height: 100%;
            width: 100%;
        }
    }
    .psucur__info {
        grid-area: info;
        width: 100%;
        text-align: center;
        padding: 3.5em 2rem;
        height: auto;
        column-gap: 0;
        border-radius: 0 15px 15px 0;
        background-color: $color5;
        color: $color1;
        @media (max-width: 720px) {
            row-gap: 0;
            border-radius: 0 0 15px 15px;
        }
        .psucur__h3 {
            font-size: 1.4rem;
            line-height: 3em;
        }
        .psucur__p {
            font-size: 1rem;
            line-height: 1.5em;
        }
    }
    .psucur__map {
        grid-area: map;
        height: 80vh;
        width: 70%;
        margin-bottom: 7vh;
        border-radius: 15px;
        border: 10px groove #343a40;
        @media (max-width: 720px) {
            width: 90%;
        }
        .psucur__iframe {
            display: block;
            width: 90%;
            height: 90%;
            border: 3px;
            margin: 1.5em auto;
            border-radius: 15px;
            border: 4px solid black;
        }
    }
}
