.block__psucur {
    width: 100%;
    margin: 0 auto;
    height: 100%;
    display: grid;
    grid-template-areas: ". header header ." "image image info info" "map map map map";
    grid-template-columns: 2fr 2fr 2fr 2fr;
    grid-template-rows: auto;
    justify-items: center;
    align-items: center;
    background-color: $color2;
    @media (max-width: 780px) {
        grid-template-areas: "header header header header" "image image image image" "info info info info" "map map map map";
    }
    .psucur__header {
        grid-area: header;
        margin-top: 1vh;
        .psucur__h1 {
            @include sec-title;
            color: $color6;
            background-color: $color3;
            box-shadow: 0 0 0.4rem grey;
        }
    }
    .psucur__imagec {
        grid-area: image;
        width: 90%;
        height: auto;
        margin: 5vh auto 0;
        border-radius: 15px;
        overflow: hidden;
        box-shadow: 0 0 0.5rem grey;
        z-index: 15;
        @media (min-width: 780px) {
            margin-right: -5vh;
        }
        .psucur__image {
            height: 100%;
            width: 100%;
        }
    }
    .psucur__info {
        grid-area: info;
        width: fit-content;
        max-width: 80%;
        margin: -2vh auto 5vh;
        padding: 2rem 2rem;
        height: auto;
        z-index: 10;
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-radius: 0 0 15px 15px;
        text-align: center;
        background-color: $color5;
        color: $color1;
        box-shadow: 0 0 0.4rem grey;
        @media (min-width: 480px) {
            width: 70%;
        }
        @media (min-width: 780px) {
            height: 70%;
            width: 70vw;
            border-radius: 0 15px 15px 0;
            margin: 5vh auto 0;
            margin-left: 3vh;
        }
        .psucur__h3 {
            font-size: 1.2rem;
            font-weight: 600;
            line-height: 2rem;
            margin-bottom: 2rem;
        }
        .psucur__p {
            font-size: 1rem;
            line-height: 1.5em;
        }
    }
    .psucur__mapsec {
        grid-area: map;
        width: 100%;
        height: auto;
        margin-top: 5vh;
        background-color: $color4;
        .psucur__map {
            height: 80vh;
            width: 70%;
            margin: 5vh auto;
            border-radius: 15px;
            background-color: $color2;
            border: 4px groove $color4;
            box-shadow: 0 0 0.4rem $color6;
            @media (max-width: 720px) {
                width: 90%;
            }
            .psucur__iframe {
                display: block;
                width: 90%;
                height: 90%;
                border: 3px;
                margin: 1.5em auto;
                border-radius: 15px;
                border: 4px groove $color5;
                box-shadow: 0 0 0.1rem grey;
            }
        }
    }
}
