$fuente: "Roboto", sans-serif;
$f-thin: 400;
$f-reg: 500;
$f-black: 900;

$white: #f8f9faff;
$lightgrey: #dee2e6;
$softwhite: #e9ecef;
$grey: #adb5bd;
$darkgrey: #6c757d;
$plusdarkgrey: #343a40;
$navbarc: #cfd6dd;
