$fuente: "Roboto", sans-serif;
$f-thin: 400;
$f-reg: 500;
$f-black: 900;

$color1: #f8f9faff;
$color2: #dee2e6;
$color3: #e9ecef;
$color4: #adb5bd;
$color5: #6c757d;
$color6: #343a40;
$navbarc: #cfd6dd;
